*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(45, 57, 57);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.qr-container {
    background-color: antiquewhite;
    box-shadow: 0 0 10px blrgb(112, 112, 112);
    border-radius: 10px;
    padding: 20px;


}

h2{
margin-bottom: 10px;
}
#qr-input{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    margin-bottom: 10px;
}
#qr-button{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgb(31, 97, 97);
    cursor: pointer;
    
}
